a{
    text-decoration: none;
    color: white;
}
.cart{
    display: flex;
    flex-direction: row;
}
.dropdown{
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        background-color: red;
      }
.dropdowncontent{
    display: none;
    position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#meny:focus-within > .dropdowncontent{
    display: block;
    text-align: center;
}

header{
    font-family: 'Inter', Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
}
.Title{
    font-size: 50px;
}
nav{
    display: flex;
    min-height: 60px;
    background-color: #8F2424;
    align-items: center;
    color: white;
}
.DownerAccount{
    display: none;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
footer{
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color:white;
    background-color: #8F2424;
}
article{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin:10px ;
    max-height: 350px;
}
.LegoSets{
    grid-column: 2/2;
    grid-row: 1/4;
    align-self: center;
    margin: 5px;
    padding:5px;
    border: 1px solid black;
}
h3{
    margin-left: 5px;
    text-align: center;
}

/* phone */
@media screen and (max-width: 640px){
    main{
        display: flex;
        flex-direction: column;
    }
    .DownerAccount{
        display: block;   
    }
    .UpperAccount{
        display: none;
    }
    nav{
        justify-content: space-around;
    }
    header{
        justify-content: space-around;
        text-align: center;
    }
    .Title{
        font-size: 35px;
    }
}
/* tablet */
@media screen and (min-width: 641px) and (max-width: 1060px ){

    main{
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr ;
    }
    article{
        margin: 0px;
    }
    .DownerAccount{
        display: block;   
    }
    .UpperAccount{
        display: none;
    }
    nav{
        justify-content: space-around;
    }
    header{
        justify-content: space-between;
    }


}