

header{
    font-family: 'Inter', Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Title{
    font-size: 50px;
}
nav{
    display: flex;
    min-height: 60px;
    background-color: #8F2424;
    align-items: center;
    color: white;
}
main{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}